<!doctype html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Reloj Asistencia</title>
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.7/dist/htmx.min.js"
    integrity="sha384-ZBXiYtYQ6hJ2Y0ZNoYuI+Nq5MqWBr+chMrS/RkXpNzQCApHEhOt2aY8EJgqwHLkJ"
    crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet" />
</head>

<body class="bg-slate-900 flex flex-col items-center justify-center h-screen">
  <h1 class="text-3xl font-bold mb-8 text-white">
    LOGIN
  </h1>
  <div class="rounded-2xl">
    <form class="space-y-3">
      <div>
        <label class="text-slate-300">Rut</label>
        <input id="rut_login" name="rut_login" type="text" placeholder="12.345.678-9"
          class="w-full block min-w-0 grow bg-gray-800 py-1.5 pr-4 pl-7 text-base text-white focus:outline-none border border-neutral-800 rounded-lg"
          required>
      </div>
      <div>
        <button data-modal-target="medium-modal" data-modal-toggle="medium-modal"
          class="text-white rounded-lg bg-emerald-600 px-4 py-2 w-full font-semibold hover:bg-emerald-700"
          hx-post="/api/v1/login" hx-swap="innerHTML" hx-target="#modal_login">Ingresar</button>
      </div>
    </form>
  </div>



  <!-- Large Modal -->
  <div id="medium-modal" data-modal-backdrop="static" tabindex="-1"
    class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative w-full max-w-lg max-h-full">
      <!-- Modal content -->
      <div class="relative bg-white rounded-lg shadow-sm dark:bg-gray-700">
        <!-- Modal header -->
        <div
          class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600 border-gray-200">
          <h3 class="text-xl font-medium text-gray-900 dark:text-white">
            Doble Factor de Autenticación
          </h3>
          <!-- boton para cerrar modal
                <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="medium-modal">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
                -->
        </div>
        <!-- Modal body -->
        <div class="p-4 md:p-5 space-y-4 text-gray-200" id="modal_login"></div>
        <!-- Modal footer -->
        <div class="flex items-center p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600">
          <button data-modal-hide="medium-modal" type="button"
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
            hx-post="/api/v1/valida">Continuar</button>
        </div>
      </div>
    </div>
  </div>

  <div id="modal2" data-modal-backdrop="static" tabindex="-1"
    class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative w-full max-w-lg max-h-full">
      <!-- Modal content -->
      <div class="relative bg-white rounded-lg shadow-sm dark:bg-gray-700">
        <!-- Modal header -->
        <div
          class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600 border-gray-200">
          <h3 class="text-xl font-medium text-gray-900 dark:text-white">
            Doble Factor de Autenticación
          </h3>
          <!-- boton para cerrar modal
                <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="medium-modal">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
                -->
        </div>
        <!-- Modal body -->
        <div class="text-white" hx-get="/api/v1/hora" hx-trigger="every 1s" hx-target="this" hx-swap="innerHTML"></div>
        <div>
          <h1 class="text-3xl font-bold mb-8 text-white">
            Control Asistencia
          </h1>
          <div class="space-x-20">
            <button class="text-white rounded bg-emerald-700 hover:bg-emerald-800 px-5 py-4">Ingreso</button>
            <button class="text-white rounded bg-red-700 hover:bg-red-800 px-5 py-4">Salida</button>
          </div>
        </div>
        <!-- Modal footer -->
        <div class="flex items-center p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600">
          <!--  
              <button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                hx-post="/api/v1/valida"
                >Continuar</button>-->
        </div>
      </div>
    </div>
  </div>



  <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
</body>
<footer class="text-white text-center mt-10 py-3">
  <p id="foot"></p>
</footer>
<script>
  document.getElementById('foot').innerText = `Sistema de Registro`
</script>

</html>